* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-color: black; */
}

#root{
  /* background-color: black; */
}


.navMain{
  height: 100px;
}

.trainer{
  margin-left: 20px;
  color: blue;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100px;
  padding: 10px;
}

.hdr{
  top: 0;
}

.labels{
  display: flex;
  place-content: space-around;
}

.gridPers{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  
}

.pokes{
  border:  solid black 1px;
  height: 200px;
  margin: 0px;
  width: 230px;
}

.pkCard{
  justify-content: center;
  align-items: center;
  word-break:break-all;
}

.id{
  color: black;
}

.types{
  color:tan;
}

.points{
  margin: 0px;
  font-size: small;
  color: skyblue;
}

.sel{
  text-align: right;
  margin-right: 20px;
}

.login-container{
  height: 100vh;
  background-image: url(../img/pokemon-background.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.pokeball{
  text-align: center;
  padding-top: 10vh;
}

.welcome{
  text-align: center;
}

.welcome img{
  width: 80vh;
}

.welcome input{
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  text-align: center;
}

.logos{
  display: flex;
  align-items: center;
  position: absolute;
  /* background-color: black; */
  bottom: 0;
  right: 0;
  margin: 10px 20px;
}

@media screen and (max-width: 1000px) {
  .welcome img {
    width: 50vh;
    margin: 1em 2em;
  }
}

@media screen and (max-width: 600px) {
  .welcome img {
    width: 20vh;
    margin: 1em 2em;
  }
}
